extends layout

block content
    h1= title
    #shapes
        - each shape in shapes
          div.shape
            div.created_at= shape.created_at
            div.title= shape.title 
            div.name= shape.name
            div.wkt= shape.wkt
                form( method="post", action="/shape/:id/delete") 
                    input(name="_id", type="hidden", value=shape._id.toHexString()) 
                    input(id="delete", value="X", type="submit")
                form( method="get", action="/shape/:id/edit") 
                    input(name="_id", type="hidden", value=shape._id.toHexString()) 
                    input(id="edit", value="Edit", type="submit")
        a(href="/shape/new")!= "Add New Shape"
