extends layout

block content
    h1= "Edit Shape"
    div.newshape
        form( method="post")
            input(name="_id", type="hidden", value=shape._id.toHexString()) 
            div
                div
                    span.label Title :
                    input(type="text", name="title", id="editShapeTitle", value=shape.title)
                div
                    span.label Name :
                    input(type="text", name="name", id="editShapeName", value=shape.name)
                div#editShapeSubmit
                    input(type="submit", value="Update")
        a(href="/")!= "Back to Shape List"
